.home{
  width: 100%;         /* Make the image width responsive to the parent container */
 
  object-fit: contain;
  background-repeat: no-repeat;       
  position: relative;
  
}
.home__image{
  height: 80vh;
  width: 100%;
  z-index: -1;
  margin-bottom: -200px;
  mask-image: linear-gradient(to bottom,rgb(0,0,0,1),rgb(0,0,0,0));
}

.home__row{
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
  top: -100px; 
}
.product:first-child{
  margin-right: -20px
}